body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .login-container {
    background-color: white;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    text-align: center;
    color: #222;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .input-group label {
    display: block;
    color: #555;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .input-group input:focus {
    border-color: #4d90fe;
    outline: none;
  }

  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4d90fe;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #357ae8;
  }
  .forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .forgot-password a {
    text-decoration: none;
    color: #4d90fe;
  }

  .forgot-password a:hover {
    text-decoration: underline;
  }