<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>

<body>
  <div class = signup-container>
<h1>S'inscrire</h1>
<form id="signupForm">
  <div class = input-group>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required><br>
  </div>
    <div class = input-group>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required><br>
  </div>
    <div class = input-group>
    <label for="confirmPassword">Confirmer le mot de passe :</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>
  </div>
    <button type="submit" class = btn-submit>S'inscrire</button> 
    <p class="login-link">Vous avez déjà un compte ? <br> <a href="..\connexion">Connectez-vous</a></p>
  
</form>
</div>

<script>
document.getElementById('signupForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;

    if (password !== confirmPassword) {
        alert('Les mots de passe ne correspondent pas.');
        return;
    }

    const userData = {
        username: username,
        password: password
    };

    fetch('http://localhost:8080/api/signup', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
    })
    .then(response => response.json())
    .then(data => {
        alert('Inscription réussie!');
    })
    .catch(error => {
        console.error('Erreur:', error);
        alert('Une erreur est survenue. Veuillez réessayer.');
    });
});
</script>

</body>
</html>