/* Styles généraux */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url(../../../../public/vN2.jpg);
  overflow-y: auto; /* Permettre le défilement vertical */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  background-color: #333;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: calc(100vh - 10rem); /* Assurer que le contenu s'adapte à la hauteur de l'écran, moins la hauteur de la navbar */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 12vh;
  }
}

/* Style du bouton .bloc */
.bloc {
  width: 60%;
  max-width: 300px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.bloc:hover {
  background-color: #444;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.bloc:active {
  background-color: #222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Hero section */
.hero {
  text-align: center;
  margin-top: 12rem;
  padding: 1rem;
  color: #000000;
  text-shadow: 1px 1px 4px rgba(43, 43, 43, 0.8);
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
}

/* Features section */
.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.feature-item {
  text-align: center;
  width: 280px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.feature-item h3 {
  margin-bottom: 1rem;
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

footer a {
  color: lightblue;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
