<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocs Ajouter et Consulter</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="..\connexion">Se connecter</a></li>
            <li><a href="..\inscription">S'inscrire</a></li>
            <li><a href="..\ajouter">Ajouter une note de frais</a></li>
            <li><a href="..\consulter">Mes notes de frais</a></li>
        </ul>
    </nav>


    <div class="container">
        <a href="..\ajouter" class="bloc">Ajouter</a>
        <a href="..\consulter" class="bloc">Consulter</a>
        
</div>
    <script>
    </script>
</body>
</html>