body {
    font-family: Arial, sans-serif;
    margin: -8px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
}

table {
  width: 80%;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  font-size: 16px;
}

th, td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #646161;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #333;
}

caption {
  caption-side: top;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: lightgrey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightskyblue;
}

/* NavBar */

nav {
    background-color: #222;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  nav ul li a:hover {
    background-color: lightblue;
    color: #000;
  }

  nav ul li a:active {
    background-color: #555;
    color: #fff;
  }
